{:extension/name :ui-flexlayout-sci
 ; build
 :cljs/module :main
 :cljs/when-defined :sci
 :cljs/namespace [ui.flexlayout
                  layout.flexlayout.core]
 :cljs/ns-bindings {'ui.flexlayout {'create-model ui.flexlayout/create-model
                                    'layout ui.flexlayout/layout
                                    'add-node ui.flexlayout/add-node
                                    'get-data ui.flexlayout/get-data
                                    'component-ui ui.flexlayout/component-ui}}

 :theme {:available  {:flexlayout {true ["flexlayout-react/style/light.css"]}}
         :current {:flexlayout true}}}


