{:paths ["src"
         "resources" ; goldly-ext, css
         "target/node_modules" ; css from npm modules
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  com.pitch/uix.core {:mvn/version "1.4.3"}
  com.pitch/uix.dom {:mvn/version "1.4.3"}
  reagent/reagent {:mvn/version "1.3.0"} ; https://github.com/reagent-project/reagent
  org.pinkgorilla/options {:mvn/version "0.1.18"}
  org.pinkgorilla/flowy {:mvn/version "0.1.41"}
  org.pinkgorilla/id {:mvn/version "0.1.4"}}
 :aliases
 {; github ci  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}

  ; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}

  :lint2
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.04.07"}}
   :main-opts ["-m" "clj-kondo.main"
               "--config" ".clj-kondo/config.edn"
               "--fail-level" "error"
               "--lint"
               "./src"]}

  :cljkondo-copy
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.04.07"}}
   :main-opts ["-m" "clj-kondo.main"
               "--copy-configs" 
               "--lint" 
               "./src"
               ]}
  

  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "0ca84df1357d71429243b99908303f45a934654c"}}
   :main-opts ["-m" "clj-check.check"]}

  ; ci
  
  :webly {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.9.721"}}
          :exec-fn webly.spa/webly-build
          :exec-args {:config [{:build {:disabled-extensions #{}}}]
                      :profile "npm-install"}}

  :npm-install {:exec-args {:profile "npm-install"}}
  

   ; for demo see README.md or go to "demo" folder and run aliases there.
  
;
  }}
