{:name "layout-flexlayout-service"
 ; runtime 
 :clj-service [{:fun layout.flexlayout.store/save-layout :ctx :flexlayout :mode :clj}
               {:fun layout.flexlayout.store/load-layout :ctx :flexlayout :mode :clj}
               {:fun layout.flexlayout.store/layout-list :ctx :flexlayout :mode :clj}]
 
 }

