{:extension/name :ui-popover-sci
 ; build
 :cljs/module :main
 :cljs/when-defined :sci
 :cljs-namespace [ui.popover]
 :cljs-ns-bindings {'ui.popover {'popover ui.popover/popover
                                 'tooltip ui.popover/tooltip}}
 ; theme
 :theme {:available  {;:tailsui {true ["tails-ui/dist/index.css"]}
                      }
         :current {;:tailsui false
                   }}}
