{:name "demo-app"
 :lazy true
 :depends-on #{:ui-site :cljs-frisk
               :ui-container  :ui-popover :ui-rnd :ui-gridlayout 
               :ui-flexlayout  :layout-golden}
 :cljs-namespace [demo.page.welcome
                  ;demo.page.input
                  demo.page.desclist
                  demo.page.layout
                  demo.page.gridlayout
                  demo.page.flexlayout
                  demo.page.spaces
                  demo.page.sidebartree
                  demo.page.tab
                  demo.page.golden
                  demo.app
                  demo.page.flexlayoutuix]
 :cljs-ns-bindings {'demo.page.welcome {'welcome-page  demo.page.welcome/welcome-page}
                    ;'demo.page.input {'welcome-page  demo.page.input/input-page}
                    'demo.page.desclist {'desclist-page  demo.page.desclist/desclist-page}
                    'demo.page.layout {'layout-page  demo.page.layout/layout-page}
                    'demo.page.gridlayout {'grid-layout-page  demo.page.gridlayout/grid-layout-page}
                    'demo.page.flexlayout {'flex-layout-page demo.page.flexlayout/flex-layout-page}
                    'demo.page.spaces {'spaces-page  demo.page.spaces/spaces-page
                                       'spaces-layout-lrt-viewport-page demo.page.spaces/spaces-layout-lrt-viewport-page
                                       'spaces-layout-lrm-viewport-page demo.page.spaces/spaces-layout-lrm-viewport-page
                                       'spaces-layout-lrt-fixed-page demo.page.spaces/spaces-layout-lrt-fixed-page
                                       'spaces-layout-lrm-fixed-page demo.page.spaces/spaces-layout-lrm-fixed-page}
                    'demo.page.sidebartree {'sidebar-page  demo.page.sidebartree/sidebar-page}
                    'demo.page.tab {'tab-page  demo.page.tab/tab-page}
                    'demo.page.golden {'page  demo.page.golden/page}
                    'demo.app {'routes demo.app/routes
                               'wrap-app demo.app/wrap-app}
                    'demo.page.flexlayoutuix {'mount demo.page.flexlayoutuix/mount
                                              'page demo.page.flexlayoutuix/page}}
 ; runtime
 :cljs-routes-reitit demo.app/routes 

 :flowy [; clj
         {:fun demo.fortune-cookie/get-cookie}
         ; ap
         {:fun demo.counter/counter-fn :mode :ap}]



 }