{:paths ["src"
         "resources" ; goldly-ext, css
         "target/node_modules" ; css from npm modules
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  ; pink-gorilla
  org.pinkgorilla/webly {:mvn/version "0.9.724"} ; build tool
  org.pinkgorilla/extension {:mvn/version "0.0.16"}
  org.pinkgorilla/ui-router {:mvn/version "0.2.43"}
  org.pinkgorilla/ui-dialog-keybindings {:mvn/version "0.1.12"}  ; notification 
  org.pinkgorilla/css-theme {:mvn/version "0.1.8"}
  org.pinkgorilla/ui-site {:mvn/version "0.0.31"}; ipsum
  org.pinkgorilla/ui-pprint-frisk {:mvn/version "0.6.565"} ; pprint is no longer contained there.
  ; this library
  org.pinkgorilla/ui-layout {:local/root "../" :deps/manifest :deps} 
  
  ; nrepl
  nrepl/nrepl {:mvn/version "1.3.1"}
  cider/cider-nrepl {:mvn/version "0.52.1"}
  }

 :aliases
 {:lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.04.07"}}
   :main-opts ["-m" "clj-kondo.main"
               "--config" ".clj-kondo/config.edn"
               "--fail-level" "error"
               "--lint"
               "src"
               ;"$(clojure -Spath)"
               ]}
  
  ; BUILD BUNDLE (then exit)
  :webly {:extra-deps {}
          :extra-paths ["src" "resources" "test" "test/resources"]
          :exec-fn webly.spa/webly-build
          :exec-args {:config ["demo-config.edn"]
                      :profile "npm-install"}}
  
  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile"}}
  :release {:exec-args {:profile "release"}}
  :release-adv {:exec-args {:profile "release-adv"}}
  :static {:exec-args {:profile "static"}}
  :ci {:exec-args {:profile "ci"}}
  
    ; RUN SERVICES (keep running)
  :run-jetty {:exec-fn modular.system/start!
              :exec-args {:config ["demo-config.edn"]
                          :profile "jetty"
                          :services "demo-services.edn"}}
  
  :run-watch {:exec-fn modular.system/start!
              :exec-args {:config ["demo-config.edn"]
                          :profile "watch"
                          :services "demo-services.edn"}}
  
  :uix-flexlayout {:exec-fn modular.system/start!
                   :exec-args {:config [{:extension {:disabled #{;"ui-tailwind"
                                                                 "missionary-sci"}}
                                         :spa {:title "uix-flexlayout demo"
                                               :mount-fn demo.page.flexlayoutuix/mount}}]
                               :profile "watch"
                               :services "demo-services.edn"}}
  

  
  }}


 
