{:modular (modular.system/modular-env)
 :components
 {:config1 {:start (modular.config/load-config! (:config #ref [:modular]))}
  :config {:start (deref (clip/ref :config1))}
  
  :exts {:start (extension/discover (:extension (clip/ref :config)))}

  :timbre {:start (modular.log/timbre-config!
                   (:timbre/clj (clip/ref :config)))}
  
  :exec {:start (flowy.executor/start-executor
                 {:env {:flexlayout-path ".flexlayout"}
                  :exts (clip/ref :exts)}
                 (:services (clip/ref :config)))}

  ;; webserver
    
  :webly {:start (webly.spa/start-webly
                  {:exts (clip/ref :exts)
                   :ctx {:flowy (flowy.reflower/start-reflower (clip/ref :exec))}}
                  (clip/ref :config)
                  (:profile #ref [:modular]))
          :stop (webly.spa/stop-webly this)}

  }}