{
 
 :deps {org.clojure/clojure    {:mvn/version "1.12.4"}
        com.pitch/uix.core {:mvn/version "1.4.3"}
        com.pitch/uix.dom {:mvn/version "1.4.3"}
        reagent/reagent {:mvn/version "1.3.0"} ; https://github.com/reagent-project/reagent
        org.pinkgorilla/edn-x {:mvn/version "0.1.4"}
        org.pinkgorilla/id {:mvn/version "0.2.6"}
        org.pinkgorilla/options {:mvn/version "0.3.28"} ; options brings flowy
        org.pinkgorilla/clj-service-flowy {:mvn/version "0.2.50"}}
;
 }